[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
fastapi = {extras = ["all"], version = "*"}
python-dotenv = "*"

[dev-packages]
black = "*"
ruff = "*"
isort = "*"

[requires]
python_version = "3.10"
